body{
    background-color: rgb(245, 245, 245);
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
}




.box{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.inner {
    height: 200px;
    overflow-y: scroll;
    background-color: white;
}

input {
    border-radius: 3px;
}

header {
    background: #fff;
    border-top: 4px solid #4580b8;
    border-bottom-color: #eee;
  }
  button {
    background: #e6e6e6;
    text-shadow: 0 1px 0 #f3f3f3;
    margin: .5em 0 2em 0;
    width: 120px;
  }